<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Information Inspection</title>

  <!-- Favicon  -->

  <link rel="stylesheet" href="animate.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="classy-nav.min.css">
  <link rel="stylesheet" href="core-style.css">
  <link rel="stylesheet" href="core-style.css.map">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="jquery-ui.min.css">
  <link rel="stylesheet" href="nice-select.css">
  <link rel="stylesheet" href="owl.carousel.css">

  <link rel="stylesheet" href="_mixin.scss">
  <link rel="stylesheet" href="_responsive.scss">
  <link rel="stylesheet" href="_constiables.scss">
  <link rel="stylesheet" href="style.scss">
  <link rel="stylesheet" href="_theme_color.scss">

  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="style.css">


  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <!-- Search Wrapper Area Start -->
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="Type your keyword...">
              <button type="submit"><img src="img/core-img/search.png" alt=""></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Wrapper Area End -->

  <!-- ##### Main Content Wrapper Start ##### -->
  <div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
      <!-- Navbar Brand -->
      <div class="amado-navbar-brand">
        <a href="home"><img src="img/core-img/logo.png" alt=""></a>
      </div>
      <!-- Navbar Toggler -->
      <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
      </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
      <!-- Close Icon -->
      <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <!-- Logo -->
      <div class="logo">
        <a href="home"><img src="logo.png" alt=""></a>
      </div>
      <!-- Amado Nav -->
      <nav class="amado-nav">
        <ul>
          <li><a href="home">Home</a></li>
          <li class="active"><a href="track">Track</a></li>
          <li><a href="warranty">Warranty</a></li>
          <li><a href="append">Append</a></li>
        </ul>
      </nav>
    </header>
    <!-- Header Area End -->

    <div class="cart-table-area section-padding-100">
      <div class="container-fluid">
        <div style="padding-left: 720px">
          <% if (messageHolder.user !== null) { %>
          <a href="/logout" id=logoutPanel><h3>Logout</h3></a>
          <% } else { %>
          <a href="login" id=loginPanel>
            <h3>Login/Signup</h3>
          </a>
          <% } %>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="checkout_details_area mt-50 clearfix">

              <div>
                <h4 style="color: #FBB710; padding-left: 100px;">
                  <%- messageHolder.message %>
                </h4>
              </div>

              <div class="cart-title">
                <h2>Enter your product details</h2>
              </div>

              <form action="/track" method="POST">
                <div class="row">
                  <div class="col-12 mb-3">
                    <input type="text" class="form-control" placeholder="Product ID" value="" name="id" required>
                  </div>
                  <div class="col-12 mb-3">
                    <select class="w-100" id="company" name="companyName"
                      style="background-color: #F5F7FA; padding: 20px 0px 20px 25px; color: #817590;" required>
                      <option value="" disabled selected hidden> Company Name</option>
                      <option value="Samsung">Samsung</option>
                      <option value="Sony">Sony</option>
                      <option value="Videocon">Videocon</option>
                    </select>
                  </div>
                  <div class="cart-btn mt-30" style="padding-left: 15px">
                    <input type="submit" class="btn amado-btn w-100" value="Submit">
                  </div>
                </div>
              </form>
              <div style="padding-top: 40px">
                <hr>
                <h2>GET QR CODE</h2>
              </div>
              <form action="/trackqrcode" method="POST">
                <div class="row">
                  <div class="col-12 mb-3">
                    <input type="text" class="form-control" id="PID" placeholder="Product ID" value="" name="id"
                      required>
                  </div>
                  <div class="col-12 mb-3">
                    <select class="w-100" id="company" name="companyName"
                      style="background-color: #F5F7FA; padding: 20px 0px 20px 25px; color: #817590;" required>
                      <option value="" disabled selected hidden> Company Name</option>
                      <option value="Samsung">Samsung</option>
                      <option value="Sony">Sony</option>
                      <option value="Videocon">Videocon</option>
                    </select>
                  </div>
                  <div class="cart-btn mt-30" style="padding-left: 15px">
                    <input type="submit" class="btn amado-btn w-100" value="Submit">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Main Content Wrapper End ##### -->

  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>

</body>

</html>
